[submodule "dtl"]
	path = dtl
	url = https://github.com/cubicdaiya/dtl
[submodule "ffmpeg_lgpl"]
	path = ffmpeg_lgpl
	url = https://github.com/rigaya/ffmpeg_dlls_for_hwenc.git
[submodule "cppcodec"]
	path = cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "build_pkg"]
	path = build_pkg
	url = git@github.com:rigaya/build_pkg.git
