[submodule "dtl"]
	path = dtl
	url = https://github.com/cubicdaiya/dtl
[submodule "cppcodec"]
	path = cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "build_pkg"]
	path = build_pkg
	url = https://github.com/rigaya/build_pkg.git
