name: Build Base Docker Images

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerimg: ubuntu2404_cuda12
          - dockerimg: ubuntu2204_cuda11
          - dockerimg: ubuntu2004_cuda11
          - dockerimg: fedora39_cuda12
          - dockerimg: fedora41_cuda12

    env:
      DOCKER_FILE: docker/docker_${{ matrix.dockerimg }}
      IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/nvenc-build

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push base image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ${{ env.DOCKER_FILE }}
          push: true
          tags: ${{ env.IMAGE_REPO }}:${{ matrix.dockerimg }}
          cache-from: type=gha
          cache-to: type=gha,mode=max


